.light-mode {
    --color-primary: #dbdbdb;
    --color-secondary: hsl(100, 100%, 13%);
    --color-tertiary:rgb(68, 187, 53);
}

.dark-mode {
    --color-primary: #111b10;
    --color-secondary: #f1f1f1;
    --color-tertiary:rgb(18, 73, 11);
}

html { 
    scroll-behavior: smooth; 
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: Poppins;
}

header{ 
    background-color: var(--color-secondary);
    background-image: url("img/GeoForest.png");
    background-repeat: repeat-y;
    background-position: center top;
    text-align: center;
    border: 4px solid rgb(0, 128, 0);
}

.likeBtn:link, .likeBtn:visited {
    background-color: #ffffff;
    font-size: 15px;
    color: rgb(29, 25, 25);
    border: 2px solid #085e00;;
    padding: 0px 2px;
    text-align: center;
    text-decoration: none;

    display: inline-block;
  }
  
.likeBtn:hover, .likeBtn:active {
    background-color: rgb(3, 131, 3);
    color:#ffffff;
}


button {
    background-color: white; 
    color: black; 
    border: 2px solid #085e00;
}
  
button:hover {
    background-color: #007c29;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

.image p{
    position: absolute; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
}
  
  /* Při najetí myši na obrázek */
img:hover {
    transform: scale(1.8); /* Zvětší obrázek */
    opacity: 1;          /* Sníží průhlednost */
  }

img.clicked{
    position: relative;
    animation-name: example;
    transform: rotateX(150deg);
    animation-duration: 4s;
}

h1{
    color: rgba(20, 146, 20, 0.486);
    font-family: Poppins;
    font-size: 40px;
    font-weight: bold;
}
/*
body{
    background-color: rgb(224, 234, 255);
    color: hsl(100, 100%, 13%);
    font-family: Poppins;
}
*/

p{
    font-family: Poppins;
    font-size: 16px;
}

p ~ ul {
    background-color: rgb(18, 109, 40);
    border: 5px solid rgb(0, 44, 11);
    border-radius: 25px;
}

div > p {
    background-color: rgba(30, 175, 7, 0.386);
}

div  tr {
    background-color: var(--color-tertiary);
    /*background-color: rgb(68, 187, 53);*/
}

th, td .table {
    border-bottom: 4px solid #04450f;
    border-left: 4px solid #04450f;
  }


.txtAni{
    text-align: center;
    text-transform: uppercase;
}

.odsaz{
    text-indent: 10px;
}

.smc{
    line-height: 2;
}

.undr{
    text-decoration: underline;
}

#zelene{
    color: #006f04;
}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%   {left:200px; top:0px;}
    50%   {left:200px; top:200px;}
    75%   {left:0px; top:200px;}
    100%   {left:0px; top:0px;}
}
.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}

.Fbox{
    text-align: center;
    height: 25px;
    min-width: 50px;
}
.FBtn{
    text-align: center;
    background: var(--color-tertiary);
}

.one{
    text-align: center;
    background: var(--color-tertiary);
}

.two{
    text-align: center;
    background: var(--color-tertiary);
    flex-grow: 2;
    flex-shrink: 2;
}

.three{
    text-align: center;
    background: var(--color-tertiary);
    flex-grow: 1;
}

div.FP {
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 2;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
  }

.center {
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100vh;
}
.container .item{
    flex-basis: 25%;
    flex-grow: 1;
    padding: 10px;
}

.container .item:nth-child(2){
    flex-grow: 2;
}

.container .item:nth-child(3){
    flex-grow: 1;
}

.container .item:nth-child(4){
    flex-grow: 2;
}

.container .item:nth-child(7){
    flex-grow: 2;
}

.container .item p{
    border: 5px solid rgb(5, 58, 5);
    border-radius: 4px;
}

.container .item img{
    padding-top: 10%;
}

.box1 { 
    border: 5px solid green;
    border-radius: 4px;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
}
.box2 { 
    padding: 110px 50px 50px 110px;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f3f3f3;
    z-index: 9999;
  }
  
  .progress-bar {
    height: 150%;
    background-color: #1c801f;
    width: 0;
  }
  
  .content {
    padding: 0px;
  }


@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #0a0a0a;
        --color-secondary: #c0c0c0;
        --color-tertiary:rgb(18, 73, 11);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #ffffff;
        --color-secondary: #000000;
        --color-tertiary:rgb(68, 187, 53);
    }
}

@media (max-width: 650px) {
    .flexbox {
      flex-direction: column;
    }
}

@media (max-width: 550px) {
    .container {
      flex-direction: column;
    }

    .one {
        display: none;
          }
    
    .three{
        display: none;
    }
}

@media (max-width: 350px) {
    img{
        display: none;
    }
    h1{
        font-size: 25px;
    }
    header{
        font-size: 5px;
    }

    .wrapper {
        display: none;
    }
}